@import url("http://fonts.cdnfonts.com/css/pragmatica?styles=17026");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pragmatica", sans-serif;
    scroll-behavior: smooth;
}
